/***STYLING FOR CHECKED BUTTON IN THE LISTING PROPERTY***/
.button-wrapper{
	max-width:1200px;
	margin: 0 auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
	align-items:left;
	font-family:roboto;
}

.button-wrapper div{
	margin:10px;
} 

.button-wrapper div label{
	cursor:pointer;
}


.button-wrapper div label input[type="checkbox"]{
	display:none;
}

.button-wrapper div label span{
	position:relative;
	display:inline-block;
	border:1px solid #ced4da;
	padding:3px 10px;
	color:#555;
	border-radius:2px;
	font-size:15px;
	transition:0.5s;
	user-select:none;
}

.button-wrapper div label span:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255, 255, 255, .1);
}

.button-wrapper div label input[type="checkbox"]:checked ~ span{
	background-color:#5e80ab;
	color:#fff;
}
/***STYLING FOR CHECKED BUTTON IN THE LISTING PROPERTY END***/

.btn-outline-secondary:hover{
    background-color: #e6e6e6;
    color: #0e0e0e;
    opacity: 0.8;
}

/***@MEDIA QUERY SCREEN SIZES HERE***/
@media screen and (min-width:320px) and (max-width:780px){
    #footer2 .img-flex img{
         width: 185px;
         height: 95px;
         margin: -0.8rem 0 0 -1rem;
     }
 
     .card-margin1{
         padding-top: 20px !important;
     }
 
     .card-margin2{
         padding-top: 20px !important;
     }
 
     .card-margin{
         margin-top: 20px !important;
     }
 
     .property-slider1 .card-img, .property-slider2 .card-img{
         width: 360px;
         height: 200px;
     }
 
     .property-body-text .text-muted,
     .property-body-text .card-text{
         margin-top: 1rem;
     }
 
     .text-center .card-text,
     .text-center .card-img{
         margin-top: 1rem;
     }
 
     .margin-for-button{
         margin-top: 20px !important;
     }
 
     .margin-for-button1{
         margin-bottom: 20px !important;
     }
}
@media screen and (min-width:1920px) and (max-width: 4050px){

    .col-xl-12{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #footer2 .img-flex img{
        width: 195px;
        height: 95px;
        margin: -0.8rem 0 0 -2.6rem;
    }
}

@media screen and (min-width:1600px) and (max-width: 1920px){

    .col-xl-12{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #footer2 .img-flex img{
        width: 195px;
        height: 95px;
        margin: -0.8rem 0 0 -2.6rem;
    }
}

@media screen and (max-width: 1600px){

    .col-xl-12{
        position: relative;
        width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
    }

    #footer2 .img-flex img{
        width: 195px;
        height: 95px;
        margin: -0.8rem 0 0 -2.6rem;
    }
}

@media screen and (max-width: 1200px){

    #footer2 .img-flex img{
        width: 195px;
        height: 95px;
        margin: -1.2rem 0 0 -3rem;
    }

    #middle-body .arrow-prev{
        left: 90%;
    }
}

@media screen and (max-width: 1024px){
    #footer2 .img-flex img{
        width: 195px;
        height: 95px;
        margin: -0.8rem 0 0 -2.6rem;
    }


    #middle-body .arrow-prev{
        left: 88%;
    }

    #nav-verticle-line{
        display: none;
    }

    .navbar-toggler{
        margin-right: 1.8rem;
    }

    .nav-link{
        margin-left: 2rem !important;
    }

    .news-item .nav-link{
        padding-left: 2rem !important;
    }
}

@media screen and (max-width: 900px){
    .estate-agent-text{
        padding-left: 2rem;
    }
    
    .property-dropdown,
    .estate-agent-dropdown {
        margin-top: -2rem !important;
    }
    
    .estate-agent-img{
        margin: 2rem auto 2rem 2rem !important;
    }


    .col-gap{
        margin-bottom: 1rem;
    }

    #middle-body .arrow-prev{
        left: 84%;
    }

    #nav-verticle-line{
        display: none;
    }

    .nav-link{
        float: left;
    }

    .news-item .nav-link{
        margin-left: -2rem !important;
    }

    .sign-up{
        margin-right: 1.2rem;
    }

    .navbar-toggler{
        margin-right: 1.8rem;
    }

    /* .navbar-brand{
        margin-left: -1.6rem;
    } */

    .list-in-navbar .sign-up{
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 768px){

    #footer2 .img-flex img{
        width: 185px;
        height: 95px;
        margin: -0.8rem 0 0 -2.8rem;
    }

    #middle-body .arrow-prev{
        left: 82%;
    }
}

@media screen and (max-width: 640px){
    .estate-agent-dropdown{
        margin-top: -2.2rem !important;
    }

    #middle-body .arrow-prev{
        left: 78%;
    }
}

@media screen and (max-width: 480px){
    
    #middle-body .arrow-prev{
        left: 72%;
    }

}

@media screen and (max-width: 320px){
    .top-header-body-h1{
        font-size: 2rem;
    }

    .estate-agent-dropdown{
        margin-top: 10px !important;
    }

    .text-count{
        display: none;
    }

    
    /* .estate-agent-card{
        max-width: 12rem;
    } */

    #middle-body .arrow-prev{
        left: 62%;
    }
}
